.header{
    border: 3px;
    border-color:rgb(121, 230, 121);
    background-color: rgb(121, 230, 121);
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: large;


}
.nav-bar a{
    text-decoration: none;
    color: white;
}
.nav-bar img{
max-width: fit-content;
width: 100%;
height: 800px;
display: flex;

}


.banner{
    display: flex;
    color: white;
    margin-top: -45%;
    justify-content: space-between;
    padding: 60px;
    font-weight: bold;
    background-blend-mode: darken;

}
.banner h1{
    margin-top: -8.5%;
}
.banner-mesaage{
    justify-content: center;
    text-align: center;

    color: white;

}
.banner-mesaage h1{
    font-weight: bolder;
    font-size: 400%;
    
}
.banner-mesaage p{
    font-size: 120%;
    color: gray;
    font-weight: bolder;

}
.click-button{
    width: 8%;
    padding: 14px;
    background-color: grey;
    border-color: grey;

}
.heading-two{
    color: black;
    margin-top: 13%;
    text-align: center;
    font-size: 200%;

}
.Rasi-screenprinting{

    display: flex;
    padding-left:10%;
    justify-content: space-between;
    padding-right: 1%;

}
.rasi-text h6{
  margin-right: 55%;
  font-size: 130%;
  color:rgb(132, 240, 132)


  
}
.rasi-text h4{
    font-size: 160%;

}
.second-banner{
    margin-right: 10%;


}
.rasi-text p{
    font-size: 130%;
    font-weight: lighter;
}
.know-button{
    background-color: rgb(121, 230, 121);
    border-radius: 6px;
    border-color: rgb(121, 230, 121);
    width: 20%;
    padding: 15px;
    margin: 15px;
    color: white;
    font-weight: bold;

    
}
.Contact-button{
    
    border-radius: 8px;
    border-color: black;
    width: 20%;
    padding: 15px;
    margin: 15px;
    font-weight: bold;

}


.rasi-quality{
    display: flex;
    justify-content: space-between;

    border: 2px;
    border-radius: 1px;
    background-color: rgb(201, 243, 234);
    padding: 6px;
    margin: 6px;
    text-align: center;


}
.techniques-text{
    text-align: center;
    font-size: larger;
}
.techniques-text h1{
    font-size: 250%;
}
.tech-images{
    display: flex;
    justify-content: space-evenly;
    border-radius: 50%;

}
.Client{
    text-align: center;
    
}

.arrow{
    width:70px;
height:70px;
border-radius: 30px;
background-color: rgba(127, 255, 212, 0.808);
margin-top: -20%;
margin-left: 103%;
font-size: 50px;
text-align: center;
}

.industry{
    display: flex;
    justify-content: space-evenly;
}
.aditiya h3{
    margin-top: -8%;
    margin-left: 10%;
    justify-content: center;
    text-align: center;

}
.aditiya p{
    margin-top: -8%;
    margin-left: 10%;
    justify-content: center;
    text-align: center;
}
.aditiya{
    border: 2px;
    border-color: white;
    max-width: fit-content;
}
.arivind img{
    margin-top: 14%;
    
}
.arivind h3{
    text-align: center;
    margin-right:30% ;
    margin-top: -3%;
    
}

.arivind p{
    margin-top: -3%;
    margin-left: 10%;
    justify-content: center;
    text-align: center;
    margin-right: 34%;
}
.arivind{
    border: 2px;
    border-color: white;
    max-width: fit-content;
}
.raymond{
    border: 2px;
    border-color: white;
    max-width: fit-content;
}
.raymond p{
    margin-top: -3%;
    margin-left: 10%;
    justify-content: center;
    text-align: center;
    margin-right: 40%;

}
.raymond h3{
    text-align: center;
    margin-right:30% ;
    margin-top: -3%;
    
}
.raymond img{
    margin-top: -6%;

}
.printing-Quality{
    display: flex;
    justify-content: center;
    gap: 8%;
}
.text-quality {
    margin-right: 0%;
    font-weight: bolder;
    margin-left: 18%;
    
    
    

}
.text-quality img{
    width: 29%;
    border-radius: 8%;
}
.text-quality p{
    font-weight: lighter;
}
.fashio-icon{
    display: flex;
    justify-content: space-evenly;
    margin-top: -100px;
    
}
.showcasing-text{
    justify-content: center;
    text-align: center;
}
.showcasing-text h1{
    font-size: 300%;
}
.showcasing-text p{
    font-weight: lighter;
    font-size: 130%;
}
.showcasing-images{
    display: flex;
    gap: 60px;
    justify-content: center;
    border-radius: 3%;
    

}
.new-image img{
width:87%;
margin-left: 6.5%;
height: 600px;
margin-top: 9px;
border-radius: 3%;

}
.map{
    text-align: center;
    font-size: 130%;
}
.map-direction{
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSVfO1whlLAaxDWmSmGeYZoKGZMNWpFweHxBcZwkCVL4hueilnm");
    margin-left: 6%;
    width: 1600px;
    height: 500px;
    background-color: white;
    position: relative;
}
.map-direction{
    border: 2px;
    border-color: white;;
}
.footer-style{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}























   
    










